/* apply styles to entire document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* apply styles to <body> */
body {
    background-color: #d9dcd6;
}

/* apply styles to <header> */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* apply styles to <header><h1> */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* apply styles to <header><h1><.seo> */
.header h1 .seo {
    color: #d9dcd6;
}

/* apply styles to <header><nav> */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* apply styles to <header><nav><ul> */
.header nav ul {
    list-style-type: none;
}

/* apply styles to <header><nav><ul><li> */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-top: 15px;
}

/* apply styles to links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* apply styles to paragraphs */
p {
    font-size: 16px;
}

/* apply styles to <hero> */
.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* float text left> */
.float-left {
    float: left;
    margin-left: 0px;
}

/* float text right */
.float-right {
    float: right;
    margin-right: 0px;
}

/* apply styles to <content> */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* apply styles to <search-engine-optimization> */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 40px;
    height: 275px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* apply styles to <online-reputation-management> */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 40px;
    height: 275px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* apply styles to <social-media-marketing> */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 40px;
    height: 275px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* apply styles to <search-engine-optimization><p> */
.search-engine-optimization p {
    text-align: left;
    padding-top: 15px;
}

/* apply styles to <online-reputation-management><p> */
.online-reputation-management p {
    text-align: left;
    padding-top: 15px;
    box-sizing: content-box;
    width: 50%;
}

/* apply styles to <social-media-marketing><p> */
.social-media-marketing p {
    text-align: left;
    padding-top: 15px;
}

/* apply styles to <search-engine-optimization><img> */
.search-engine-optimization img {
    max-height: 200px;
    padding-right: 25px;
}

/* apply styles to <online-reputation-management><img> */
.online-reputation-management img {
    max-height: 200px;
}

/* apply styles to <social-media-marketing><img> */
.social-media-marketing img {
    max-height: 200px;
    padding-right: 25px;
}

/* apply styles to <benefits> */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    margin-bottom: 32px;
    color: #ffffff;
}

/* apply styles to <benefits><h3> */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* apply styles to <benefits><img> */
.benefits img {
    display: block;
    margin: 0px auto;
    max-width: 150px;
    align-content: center;
}

/* apply styles to <benefits><p> */
.benefits p {
    padding-bottom: 40px;
}

/* apply styles to <footer> */
.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 32px;
    text-align: left;
}

/* apply styles to <footer><h2> */
.footer h2 {
    display: inline
}

/* apply styles to <footer><a> */
footer a {
    color: black
}